<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎访问攀枝花学院IACAA系统管理员主页</title>
    <link rel="stylesheet" href="../../static/cji/layui/css/layui.css" th:href="@{/cji/layui/css/layui.css}" type="text/css">
    <script src="../../static/cji/layui/layui.js" th:src="@{/cji/layui/layui.js}"></script>
    <link th:href="@{/cji/quote/css/materialdesignicons.min.css}" rel="stylesheet">
    <script src="../../static/cji/js/jquery-1.2.6.js" th:src="@{/cji/js/jquery-1.2.6.js}"></script>
</head>
<body>
<div class="layui-layout layui-layout-admin">
    <div th:replace="/admin/adminmain :: head"></div>
    <div th:replace="/admin/adminmain :: menu"></div>
    <div class="layui-body" style="padding: 30px">
            <label>教师可编辑开关</label>
            <input id="teacherEditCheck" type="checkbox" checked="" onchange="changeAllTeacherEditState()" name="open" lay-skin="switch" lay-filter="switchTest" title="开关">
        <hr>
        <a href="/admin/updateThisYearReqScore">统计所有指标点分数</a>
        <hr>
        <label>更改系统时间：</label>
        <select onchange="location.href=this.value;" name="modules" lay-verify="required" lay-search="" style="width:80px;color: dodgerblue;border: none;font-size:18px;font-family: '微软雅黑'">
            <option  th:each="year : ${years}" th:text="${year}" th:value="'/admin/changeSystemDate?year='+${year}"></option>
        </select>
    </div>
    <div th:replace="/admin/adminmain :: footer"></div>
    <script>
        function changeAllTeacherEditState() {
            var changefuctionUrl;
            if( $('#teacherEditCheck').is(':checked') ){
                changefuctionUrl ="/admin/changeAllTeacherEditStateOn";
            }else changefuctionUrl ="/admin/changeAllTeacherEditStateOff";

            $.ajax({
                url:changefuctionUrl,
                async:true,
                method:"post",
                data:{},
                success:function () {
                    alert("教师课程编辑状态修改成功！")
                },
                error:function () {
                    alert("服务器异常，稍后再试!")
                }
            })
        }
    </script>
</div>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;

    });
</script>
<script>
    layui.use(['form', 'layedit', 'laydate'], function(){
    });
</script>
</body>
</html>