<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>欢迎访问攀枝花学院IACAA系统管理员主页</title>
    <link rel="stylesheet" href="../../static/cji/layui/css/layui.css" th:href="@{/cji/layui/css/layui.css}" type="text/css">
    <link rel="stylesheet" href="../../static/cji/css/courseedit.css" th:href="@{/cji/css/courseedit.css}" type="text/css">
    <script src="../../static/cji/layui/layui.js" th:src="@{/cji/layui/layui.js}"></script>
    <script src="../../static/cji/js/jquery-1.2.6.js" th:src="@{/cji/js/jquery-1.2.6.js}"></script>
</head>
<body>

<div class="layui-layout layui-layout-admin">
    <div th:replace="/admin/adminmain :: head"></div>
    <div th:replace="/admin/adminmain :: menu"></div>
    <div class="layui-body" style="padding: 15px">
        <button type="button" class="layui-btn layui-btn-sm" onclick="javascript:history.back(-1);" style="margin: 0px;"><i class="layui-icon"></i><i class="layui-icon"></i></button>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="100">
                <col>
            </colgroup>
            <thead>
            <tr>
                <th>课程目标描述</th>
                <th>支撑毕业要求</th>
                <th>课程教学目标考察环节</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="da : ${courseTasks}">
                <td th:text="${da.taskDiscribe}"></td>
                <td th:text="${da.ttarget.graduationRequirement.reqTitle}"></td>
                <td>
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <col width="150">
                            <col>
                        </colgroup>
                        <tbody th:id="${da.taskId}+'div'">
                        <tr th:each="da2 : ${els}" >
                            <div th:if="${da2.courseTask} != null">
                                <div th:if="${da2.courseTask.taskId} == ${da.taskId}">
                                    <td style="padding: 0px;margin: 0px;color: darkgreen;text-align: right">考察环节内容:</td>
                                    <td style="padding: 0px;margin: 0px" th:text="${da2.elName}"></td>
                                    <td style="padding: 0px;margin: 0px;color: darkgreen;text-align: right">环节目标分数:</td>
                                    <td style="padding: 0px;margin: 0px" th:text="${da2.elTargetScore}"></td>
                                    <td style="padding: 0px;margin: 0px;color: darkgreen;text-align: right">环节平均分数:</td>
                                    <td style="padding: 0px;margin: 0px"><input style="width: 50px" th:value="${da2.elAverageScore}" th:id="${da2.elId}+'newSaveAvgScore'" th:onchange="'newsaveElinkAvgScore('+${da2.elId}+')'"/></td>
                                    <td style="padding: 0px;margin: 0px;color: darkgreen;text-align: right">环节权重:</td>
                                    <td style="padding: 0px;margin: 0px" th:text="${da2.elMix}"></td>
                                </div>
                            </div>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="/admin/adminmain :: footer"></div>

    <script>
        function newsaveElinkAvgScore(id) {
            var newScorestr = "#"+id+"newSaveAvgScore";
            var newScore = $(newScorestr).val();
            if(newScore==""||isNaN(newScore)){
                alert("请检查您的输入！");
                return false;
            }
            $.ajax({
                url:"/admin/updateExaminationLinkAvgScore",
                async:true,
                method:"post",
                data:{elId:id,elAverageScore:newScore},
                success:function (result) {
                    if(result=="true"){
                        $(newScorestr).css("background-color","lightgreen");
                    }else {
                        alert("请检查您的数据！");
                    }
                },
                error:function () {
                    alert("请检查您输入的数据！");
                }
            })
        }

        function showSaveMes() {
            window.location.reload();
            alert("您的努力让软件工程更加美好！真挚的感谢！")
        }

    </script>

</div>
<script>
    //JavaScript代码区域
    layui.use('element', function(){
        var element = layui.element;
    });
</script>

</body>
</html>