<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Title</title>
    <link rel="stylesheet" href="../../static/cji/layui/css/layui.css" th:href="@{/cji/layui/css/layui.css}" type="text/css">
    <link th:href="@{/cji/quote/css/materialdesignicons.min.css}" rel="stylesheet">
    <link th:href="@{/cji/quote/css/style.min.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/cji/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/cji/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/cji/js/Chart.js}"></script>
</head>
<body id="page-top">
<script src="../../static/cji/layui/layui.js" th:src="@{/cji/layui/layui.js}"></script>
<div class="layui-layout layui-layout-admin">
    <div th:replace="/admin/adminmain :: head"></div>
    <div th:replace="/admin/adminmain :: menu"></div>
    <div class="layui-body">
        <div class="card" style="width: 500px;display: inline-block;margin: 5px">
            <div class="card-header"><h4>相关支撑课程占比</h4></div>
            <div class="card-body">
                <canvas id="chart-pie" width="550" height="500"></canvas>
            </div>
        </div>
        <div class="card" style="width: 500px;display: inline-block;margin-left: 40px;margin-top: 5px;margin-right: 10px">
            <div class="card-header"><h4>相关课程目标达成度</h4></div>
            <div class="card-body">
                <canvas id="chart-vbar-1" width="450" height="500"></canvas>
            </div>
        </div>
        <ul class="layui-nav layui-nav-tree"  lay-filter="test" style="width: 250px;position: absolute;top: 40px;right: 20px;background-color: rgb(110,80,230);border-radius: 5px">
            <hr style="margin: 15px"/>
            <li class="layui-nav-item" style="text-align: center">
                <a th:each="ct : ${courseTargetMixes}" th:text="${ct.course.courseName}" th:href="@{/admin/showscoreByCourseTargetMixId(ctMixId=${ct.ctmixId},year=${year})}" style="color: rgb(240,240,240);"></a>
            </li>
        </ul>
    </div>
    <div th:replace="/admin/adminmain :: footer"></div>
</div>



<script type="text/javascript" th:inline="javascript">


    new Chart($("#chart-vbar-1"), {
        type: 'bar',
        data: {
            labels: [[${coursesId}]],
            datasets: [{
                label: "课程达成度",
                backgroundColor: "rgba(51,202,185,0.5)",
                borderColor: "rgba(0,0,0,0)",
                hoverBackgroundColor: "rgba(51,202,185,0.7)",
                hoverBorderColor: "rgba(0,0,0,0)",
                data: [[${coursesScorse}]]

            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        max:1
                    }
                }]
            }
        }
    });


    new Chart($("#chart-pie"), {
        type: 'pie',
        data: {
            labels: [[${coursesName}]],
            datasets: [{
                data: [[${coursesMix}]],
                backgroundColor: ['rgba(255,99,132,1)', 'rgba(54, 162, 235, 1)', 'rgba(255, 206, 86, 1)',
                    'rgb(200,110,189)', 'rgb(85,190,206)', 'rgb(209,149,77)', 'rgba(50, 200, 150, 1)']
            }]
        },
        options: {
            responsive: false
        }
    });

</script>


<script>
    layui.use('element', function(){
        var element = layui.element;

    });
</script>

</body>
</html>